img,embed,object,video{
    max-width: 100%;
}
ul,li {
    text-decoration: none;
    list-style-type: none;
    padding: 0;
	margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(150, 240, 156);

}


