@media screen and (min-width:600px) {

    .footer ul {
        grid-column: 1/11;
        grid-row: 7/8;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 5px;
        justify-content: space-around;

    }

    .navigation ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 5px;
        justify-content: space-between;
    }
}

@media screen and (max-width:599px) {

    .navigation ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: space-between;
    }

    .footer ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: space-between;
    }
}

.grid-container {
    display: grid;
    grid-template-rows: 150px auto auto auto auto auto 100px;
    grid-template-columns: repeat(10, 10%);

}

.header {
    background-image: url("../images/candycane.jpg");
    background-size: 100% auto;
    background-position: center;
    height: 120px;
    padding: 0 10px;
    background-repeat: repeat-x;
    text-align: center;
    border-bottom: 2px solid #000000;
    grid-column: 1/11;
    grid-row: 1/2;
}

.navigation {
    grid-column: 1/11;
    grid-row: 2/3;

}

.navigation li {
    border: 3px solid #046613;
    text-align: center;
    padding: 0.5rem;
}


.sidebar {
    grid-column: 1/4;
    grid-row: 3/7;

}

.landingpage {
    grid-column: 4/11;
    grid-row: 3/7;

}

.footer {
    grid-column: 1/11;
    grid-row: 7/8;
}