@media screen and (max-width:599px) {

    .nav ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: space-between;
    }

    .footer ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: space-between;
    }
}